{{ form_start(form, {'attr' : {'class' : 'm-auto text-center p-4 col-md-4'}}) }}
    {{ form_row(form.countries, {'attr' : {'class' : 'd-flex justify-content-around'}}) }}
    {{ form_row(form.cities) }}
<button class="btn btn-sm button-primary" type="submit">Rechercher</button>
{{ form_end(form) }}