{% extends 'base.html.twig' %}

{% block title %}Creation d'un utilisateur{% endblock %}

{% block body %}
    <h1>Creation d'un utilisateur</h1>

    {{ include('Admin/user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}">Revenir a l'index de gestions des utilisateurs</a>
{% endblock %}
