.button-primary {
  border: #86cfda 1px solid;
  background-color: #cde7f2;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.5em;
}
.button-primary:hover {
  box-shadow: #0c5460 5px 0 20px;
}

.button-danger {
  border: #da5751 1px solid;
  background-color: #f2b9bd;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.5em;
  margin: auto;
}
.button-danger:hover {
  box-shadow: #601113 5px 0 20px;
}

.button-warning {
  border: #dada5f 1px solid;
  background-color: #f2ecb9;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.5em;
  margin: auto;
}
.button-warning:hover {
  box-shadow: #601113 5px 0 20px;
}

body, html {
  margin: 0 auto;
  padding: 0;
  background: url(../img/map_word.png) center;
}

header {
  position: relative;
  z-index: 1;
  width: 100%;
  display: block;
  min-height: 260px;
}
@media screen and (max-width: 570px) {
  header {
    min-height: 150px;
  }
}
header .connection {
  position: absolute;
  top: 10px;
  right: 20px;
}
@media screen and (max-width: 570px) {
  header .connection {
    display: none;
  }
}
header .deconnection {
  border: none;
  position: absolute;
  background: darkred;
  color: white;
  font-size: 1.1em;
  top: 10px;
  right: 20px;
}
header .deconnection:hover {
  box-shadow: darkred 5px 0 20px;
}
@media screen and (max-width: 570px) {
  header .deconnection {
    display: none;
  }
}
header .admin-btn {
  position: absolute;
  top: 10px;
  right: 160px;
  background: #0c5460;
  color: #FFFFFF;
  font-size: 1.1em;
  border: none;
}
@media screen and (max-width: 570px) {
  header .admin-btn {
    display: none;
  }
}
header span {
  color: white;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 260px;
  background-image: url(../img/banner.jpg.png);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-size: 100% 260px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1300px) {
  .banner {
    background-size: 100% 150px;
    min-height: 150px;
  }
}
.banner h1 {
  text-align: center;
  color: white;
  filter: brightness(100%);
  position: absolute;
  top: 20%;
  left: 23%;
  right: 25%;
  z-index: 10;
  font-family: "Goudy Old Style", serif;
  font-size: 6vw;
}
@media screen and (max-width: 570px) {
  .banner h1 {
    font-size: 9vw;
  }
}

.part-left, .part-right {
  font-family: "Goudy Old Style", serif;
}
.part-left h2, .part-right h2 {
  font-weight: 900;
}
.part-left .menu-france, .part-right .menu-france {
  display: none;
}
.part-left .menu-france .estouest, .part-left .menu-france .menu-est, .part-left .menu-france .menu-ouest, .part-right .menu-france .estouest, .part-right .menu-france .menu-est, .part-right .menu-france .menu-ouest {
  display: none;
}
.part-left .menu-france button, .part-right .menu-france button {
  max-width: 80%;
  background-color: #398ec2;
  color: white;
}
.part-left h2, .part-right h2 {
  text-align: center;
  margin: 20px;
}
.part-left .btn-group, .part-right .btn-group {
  width: 100%;
}
.part-left button, .part-right button {
  margin: 10px auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.part-left a, .part-right a {
  color: #062c33;
}
.part-left a:hover, .part-right a:hover {
  text-decoration: none;
  color: #1795b1;
}
.part-left ul, .part-right ul {
  margin: 0 auto;
}

.part-center {
  height: 100%;
  font-weight: 900;
  text-shadow: #2b3664 5px 0 20px;
  background-color: rgba(255, 255, 255, 0.6);
}
.part-center .comment {
  border: white 2px solid;
  box-shadow: white 8px 0 20px;
  padding: 20px;
  margin: 20px;
}
.part-center .modal {
  margin-top: 5%;
}
.part-center .modal .modal-content {
  background-color: rgba(178, 212, 238, 0.9);
  font-family: "Goudy Old Style", serif;
}
.part-center .modal .modal-content h2 {
  font-size: 3em;
}
.part-center .modal .modal-content label, .part-center .modal .modal-content button {
  font-size: 1.4em;
}
.part-center .modal .modal-content .container {
  padding: 10px;
}
.part-center .modal .modal-content .container .cross {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 25;
  color: #1b1e21;
  width: 30px;
  height: 30px;
  background: url("../img/crossModal.svg") 100% 100%;
  cursor: pointer;
}
.part-center .modal .modal-content .container .cross:hover {
  opacity: 0.5;
}
.part-center .modal .modal-content .container .row {
  padding: 60px;
}
.part-center .admin-home {
  text-align: center;
  height: 300px;
  opacity: 0.7;
}
.part-center .admin-home a {
  text-decoration: none;
  color: #1b1e21;
}
.part-center .admin-home a h3 {
  text-align: center;
  margin: 20px;
}
.part-center .admin-home .case-country {
  border: 2px transparent solid;
  background-color: rgba(70, 186, 250, 0.5);
}
.part-center .admin-home .case-country:hover {
  box-shadow: rgba(70, 186, 250, 0.5) 5px 0 20px;
}
.part-center .admin-home .case-city {
  border: 2px transparent solid;
  background: rgba(250, 121, 94, 0.5);
}
.part-center .admin-home .case-city:hover {
  box-shadow: rgba(250, 121, 94, 0.5) 5px 0 20px;
}
.part-center .admin-home .case-picture {
  border: 2px transparent solid;
  background: rgba(114, 111, 250, 0.5);
}
.part-center .admin-home .case-picture:hover {
  box-shadow: rgba(114, 111, 250, 0.5) 10px 0 30px;
}
.part-center .admin-home .case-user {
  border: 2px transparent solid;
  background: rgba(109, 250, 129, 0.5);
}
.part-center .admin-home .case-user:hover {
  box-shadow: rgba(109, 250, 129, 0.8) 10px 0 30px;
}
.part-center #mapid {
  height: 500px;
  width: 700px;
}
.part-center .vrac {
  height: 320px;
}
.part-center .vrac img.post {
  background-color: rgba(255, 255, 255, 0.9);
}
.part-center .vrac h3 {
  padding: 0;
  margin-bottom: 50px;
  text-align: center;
}
.part-center h2 {
  text-align: center;
  margin: 25px;
}
.part-center p {
  color: #062c33;
  filter: none;
  font-family: "Goudy Old Style", serif;
  text-align: center;
  font-size: 1.5em;
}
.part-center .index {
  text-align: center;
  position: relative;
}
.part-center .index h2 {
  margin-top: 50px;
}
.part-center .index .map-index img {
  padding-top: 80px;
  width: 80%;
}
.part-center .index .map-index .city-name {
  position: absolute;
  width: 9%;
}
@media screen and (max-width: 2106px) {
  .part-center .index .map-index .city-name {
    width: 12%;
  }
}
@media screen and (max-width: 1585px) {
  .part-center .index .map-index .city-name {
    width: 18%;
  }
}
.part-center .index .map-index .city-name.New {
  top: 45%;
  right: 8%;
}
.part-center .index .map-index .city-name.Strasbourg {
  top: 32%;
  right: 5%;
}
.part-center .index .map-index .city-name.Marseille {
  top: 88%;
  right: 25%;
}
.part-center .index .map-index .city-name.Annecy {
  top: 58%;
  right: 15%;
}
.part-center .index .map-index .city-name.Bayonne {
  top: 92%;
  left: 25%;
}
.part-center .index .map-index .city-name.Biarritz {
  top: 88%;
  left: 20%;
}
.part-center .index .map-index .city-name.Collioure {
  top: 98%;
  right: 30%;
}
.part-center .index .map-index .city-name.Dijon {
  top: 52%;
  right: 28%;
}
.part-center .index .map-index .city-name.Colmar {
  top: 36%;
  right: 5%;
}
.part-center .index .map-index .city-name.Hyeres {
  top: 89%;
  right: 15%;
}
.part-center .index .map-index .city-name.Kaysersberg {
  top: 35%;
  right: 14%;
}
.part-center .index .map-index .city-name.Riquewihr {
  top: 38.5%;
  right: 14%;
}
.part-center .index .map-index .city-name.Paris {
  top: 42%;
  right: 39%;
}
.part-center .index .map-index .city-name.Mulhouse {
  top: 52%;
  right: 12%;
}
.part-center .index .map-index .city-name.Lyon {
  top: 64%;
  right: 25%;
}
.part-center .index .map-index .city-name.Lourde {
  top: 93%;
  left: 38%;
}
.part-center .index .map-index .city-name.Lausanne {
  top: 55%;
  right: 14%;
}
.part-center .grid {
  padding: 16px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 16px;
}
.part-center .grid a {
  position: relative;
}
.part-center .grid a img, .part-center .grid a div {
  display: block;
  width: 100%;
}
.part-center .grid a .bubble-text {
  font-family: "Goudy Old Style", serif;
  color: #1b1e21;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  padding: 7px 15px;
  border-radius: 3px;
  box-shadow: #2b3664 5px 0 20px;
  width: 350px;
  z-index: 25;
  opacity: 0;
  transition-property: opacity;
  /* Active la transition sur background-color */
  transition-duration: 0.3s;
  /* La transition dure 1s */
  top: 50%;
  right: -40%;
}
.part-center .grid a .bubble-text h3 {
  text-align: center;
  font-weight: 900;
  border-bottom: solid 1px black;
}
.part-center .grid a .bubble-text::after {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 10%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgba(255, 255, 255, 0.8);
}
.part-center .grid a:hover .bubble-text {
  opacity: 1;
}

.part-right .news {
  font-size: 1.3em;
  text-align: center;
}
.part-right .news h3 {
  margin-bottom: 20px;
  font-weight: 900;
  font-style: oblique;
}
.part-right .body {
  border: white 2px solid;
  box-shadow: white 8px 0 20px;
  padding: 20px;
}
.part-right .body h4 {
  margin-bottom: 10px;
  font-weight: 800;
}
.part-right .body h4 span {
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
