    @font-face{
        font-family:"Fantasy W01 Regular1504285";
        src:url("public/Fonts/d59cb9bb-e302-4d03-a28c-f5d7fc170d1d.eot?#iefix");
        src:url("public/Fonts/d59cb9bb-e302-4d03-a28c-f5d7fc170d1d.eot?#iefix") format("eot"),url("public/Fonts/67ba6174-8662-4877-8c71-6938b098652b.woff2") format("woff2"),url("public/Fonts/66f396d7-a2f5-48ff-b666-529e61be0af8.woff") format("woff"),url("public/Fonts/452560bc-7196-4154-9b64-b9bb79494473.ttf") format("truetype");
    }
