{% block body %}
    <div class="col-md-10 m-auto pt-3 pb-3">
        <h2 class="text-center">Nouveau Pays</h2>
        <div class="container">
            <a href="{{ path('admin_news_index') }}" class="cross"></a>
            <h1>Creation d'une nouvelle news</h1>
            {{ include('admin/news/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
