{% block body %}
    <div class="pt-4">
        <h2 class="text-center">Nouvelle Photo</h2>
        <div class="container">
            <a href="{{ path('admin_picture_index') }}" class="cross"/>
            <div class="pl-5 pr-5 pb-5">
                {{ include('Admin/picture/_form.html.twig', {'button_label': 'Sauver'}) }}
            </div>
        </div>
    </div>
{% endblock %}
