{% block body %}
    <h1>Create new Picture</h1>

    {{ include('Admin/picture/_form_new.html.twig') }}

    <a href="{{ path('admin_picture_index') }}">Retour a la liste des photos</a>
{% endblock %}
