{% block body %}
    <div class="col-md-10 m-auto pt-3 pb-3">
        <h2 class="text-center">Nouvelle ville</h2>
        <div class="container">
            <a href="{{ path('admin_city_index') }}" class="cross"></a>
            <div class="pl-5 pr-5 pb-5">
                {{ include('admin/city/_form.html.twig', {'button_label': 'Sauver'}) }}
            </div>
        </div>
    </div>
{% endblock %}
