{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<div class="news">{% include 'layout/_sidebar_right.html.twig' %}</div>
<div class="list_country">{% include 'layout/_sidebar_left.html.twig' %}</div>
    <h2>Pourquoi ce site ?</h2>
    <p>
        Ce site a pour but de partager avec vous un bout de notre monde. <br>
        Notre planète est magnifique, surprenante mais la parcourir nécessite de l'argent et du temps. 2 éléments
        difficilement cumulables !
        Certaines personnes décident d'attendre leur retraite pour voyager et d'autres se laissent porter par l’envie et
        les moyens du moment.<br>
        L’envie de partager avec vous la découverte de pays époustouflants, de cultures si différentes de la notre est
        la motivation première de ce site, ou « blog de voyages ».
        Tout d’abord laisser-moi vous montrer à quel point notre pays est magnifique et oui ! Inutile de faire des
        milliers de km pour croiser la beauté !<br>
    </p>
    <div class="search">
        {% include 'Profile/_form.html.twig' %}
    </div>
    <div class="gridhome">
        {% for picture in pictures %}
            <a style="overflow: hidden;" href="{{ vich_uploader_asset(picture, 'imageFile')  }}">
                <img src="{{ vich_uploader_asset(picture, 'imageFile') |imagine_filter('thumb')}}" alt="">
            </a>
        {% endfor %}
    </div>
{% endblock %}
