<footer class="text-muted text-center text-small">
    <p><div style="vertical-align: inherit;"><div style="vertical-align: inherit;">© 2017-2019 Nom de l'entreprise</div></div></p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Intimité</a></li>
        <li class="list-inline-item"><a href="#">termes</a></li>
        <li class="list-inline-item"><a href="#">Soutien</a></li>
    </ul>
</footer>