<div class="col-md-2 part-left">
    <h2>Nos destinations</h2>
    {% for singlepays in pays %}
        <form action="{{ path('pays_index', {'name':  singlepays.name }) }}">
        <button type="submit" class="btn button-primary">{{ singlepays.name }}</button>
        </form>
    {% endfor %}
</div>


