<div class="col-2 part-right">
    <form action="" class="text-center mt-5 d-flex justify-content-center flex-md-wrap">
        <div class="form-group">
            <h4>Vous recherchez un endroit en particulier ? </h4>
            <label for="searchplace">
                <input type="submit" width="100" placeholder="Rechercher" id="searchplace"
                       class="form-control ">
            </label>
            <button class="btn button-primary" type="submit">Rechercher</button>
        </div>
    </form>
    <br>
    <div class="news">
        <h3 class="text-center">Les news</h3>
        <div class="body">
            <h4>Collioure<span> (Pays Catalans)</span></h4>
            <p>De nouvelles photos ont etait ajoutées dans la section EST de la france.<br>
                Un petit sejour du coté de collioure dans les pyrénées oriental mon permis de prendre des
                clichés magnifique rien que pour vous.</p>
        </div>
    </div>
</div>